@model Pae.web.Data.Entities.Periodos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Periodos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonthDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthDelivery)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
