@model Pae.web.Models.AddSedeViewModel

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <hr />

    <form asp-action="AddSede" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Adicionar</h2>
                        <h4>Sede</h4>
                    </div>
                    <div class="panel-body">
                        <partial name="_Sedes" />
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Details" class="btn btn-success" asp-route-id="@Model.InstitucionId"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back To Institucion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </form>
