@model Pae.web.Data.Entities.DeliveryActa


 

    <div class="form-group">
        <label asp-for="Entrega3" class="control-label"></label>
        <input asp-for="Entrega3" />
        <span asp-validation-for="Entrega3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Entrega4" class="control-label"></label>
        <input asp-for="Entrega4" />
        <span asp-validation-for="Entrega4" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Entrega5" class="control-label"></label>
        <input asp-for="Entrega5" />
        <span asp-validation-for="Entrega5" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Entrega6" class="control-label"></label>
        <input asp-for="Entrega6" />
        <span asp-validation-for="Entrega6" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Entrega7" class="control-label"></label>
        <input asp-for="Entrega7" />
        <span asp-validation-for="Entrega7" class="text-danger"></span>
    </div>