@model Pae.web.Data.Entities.DetailsDelivery

<div class="form-group">
    <label asp-for="TelMovil" class="control-label"></label>
    <input asp-for="TelMovil" />
    <span asp-validation-for="TelMovil" class="text-danger"></span>
</div>
<div class="form-group">
   
    <input asp-for="Imagedocl" hidden="hidden" />
    <span asp-validation-for="Imagedocl" class="text-danger"></span>
</div>
<div class="form-group">
   
    <input asp-for="Imagedoc2" hidden="hidden"/>
    <span asp-validation-for="Imagedoc2" class="text-danger"></span>
</div>
