@model Pae.web.Data.Entities.DetailsDelivery

@{
    ViewData["Title"] = "Details";
}


<div class="form-group">
    <label asp-for="Imagedocl" class="control-label"></label>
    <input asp-for="Imagedocl" class="form-control" />
    <span asp-validation-for="Imagedocl" class="text-danger"></span>
</div><div class="form-group">
    <label asp-for="ImageDeliveryUrl" class="control-label"></label>
    <input asp-for="ImageDeliveryUrl" class="form-control" />
    <span asp-validation-for="ImageDeliveryUrl" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SiteDelivery" class="control-label"></label>
    <input asp-for="SiteDelivery" class="form-control" />
    <span asp-validation-for="SiteDelivery" class="text-danger"></span>
</div><div class="form-group">
    <label asp-for="TelMovil" class="control-label"></label>
    <input asp-for="TelMovil" class="form-control" />
    <span asp-validation-for="TelMovil" class="text-danger"></span>
</div>