@model Pae.web.Models.EstudentViewModel
<div class="form-group">
    <label asp-for="NOrden" class="control-label"></label>
    <input asp-for="NOrden" class="form-control" />
    <span asp-validation-for="NOrden" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Document" class="control-label"></label>
    <input asp-for="Document" class="form-control" />
    <span asp-validation-for="Document" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FullName" class="control-label"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DocumentAcu" class="control-label"></label>
    <input asp-for="DocumentAcu" class="form-control" />
    <span asp-validation-for="DocumentAcu" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AcudienteName" class="control-label"></label>
    <input asp-for="AcudienteName" class="form-control" />
    <span asp-validation-for="AcudienteName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Mesa" class="control-label"></label>
    <input asp-for="Mesa" class="form-control" />
    <span asp-validation-for="Mesa" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Jornada" class="control-label"></label>
    <input asp-for="Jornada" class="form-control" />
    <span asp-validation-for="Jornada" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="AutoDelivery" class="control-label"></label>
    <input asp-for="AutoDelivery" class="form-control" />
    <span asp-validation-for="AutoDelivery" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="SedeId" class="control-label"></label>
    <select asp-for="SedeId" asp-items="Model.Sedes" class="form-control">
    </select>
    <span asp-validation-for="SedeId" class="text-danger"></span>
</div>