@model IEnumerable<Pae.web.Data.Entities.Estudents>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/font-awesome.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />


<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create New Estudent</a>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <form action="/Estudents/SearchDoc" method="get">

                        <div class="input-group">
                            <input type="number" class="form-control" name="usr" placeholder="Numero Documento" required autofocus>
                            <div class="input-group-btn">
                                <input type="submit" class="btn btn-default" name="submit1" value="Buscar" />

                            </div>

                        </div>


                    </form>
                </div>
                <div class="col-md-6">
                    <form action="/Estudents/SearchName" id="shName" method="get">

                        <div class="input-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre completo" required autofocus>
                            <div class="input-group-btn">
                                <input type="submit" name="submit2" class="btn btn-default" value="Buscar" />
                            </div>

                        </div>


                    </form>
                </div>
                <div class=" row">
                    <div class="col-md-12">
                        <form action="/Estudents/Searchforeign" id="shForeingName" method="get">

                            <div class="input-group">
                                <input type="text" class="form-control" name="nameForeing" placeholder="Documento + letras" required autofocus>
                                <div class="input-group-btn">
                                    <input type="submit" name="submit2" class="btn btn-default" value="Buscar" />
                                </div>

                            </div>


                        </form>
                    </div>
                </div>

            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;
            $('.display').DataTable();

        });
    </script>
}
